h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;

}

h3
{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.5;

}

body
{
  font-family: 'Montserrat', sans-serif;
}
.container-fluid
{
  padding: 3% 15% 7%;
}

p
{
  color: #8f8f8f;
  font-weight: 600;
}



/* Navigation bar */

.navbar-brand
{
  font-family:  'Ubuntu',sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}
.navbar
{
  padding-bottom: 5%;
}
.nav-item
{
  padding: 0 18px;
}
.nav-link
{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Download buttons */
/* Created custom classes so it could effect only these 2 buttons */

.download-button1
{
  margin: 5% 3% 5% 0;
}

/* App img */
.app-img
{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

.size
{
  position: relative;
}

/* Features section */

.emoji
{
  text-align: center;
  padding: 4.5%;
}
.features
{
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.Features-paragraph
{

  margin: auto;
  color: #8f8f8f;
  font-weight: 600;
}

.fa-4x
{
  color: #ef8172;
  margin: 1rem auto 0;
}
.fa-4x:hover
{
  color: #ff4c68;
}
#title
{
  background-color: #ff4c68;
  color: #fff;
}
#features1
{
  padding: 5% 15%;
  background-color: #fff;
  position: relative;


}

/* Testimonials */

#testimonials
{

  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.test-img
{
  border-radius: 100%;
  margin: 30px 20px 20px;
  width: 15%;
}

.carousel-item
{
  padding: 7% 15%;
}

.testimonial-text
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5;
  width: 90%;
  margin: auto auto 10px;
}


/* Press */

#press
{
  padding-bottom: 3%;
  background-color: #ff4c68;
  text-align: center;
}

.press-img
{
  width: 12%;
  margin: 20px 30px 50px;
}


/* Pricing Boxes */

#pricing
{
  padding: 5% 6%;
  text-align: center;
}

.pricing-box
{
  padding: 2% 2%;
}

/* Call to action section */

#cta
{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

.cta-heading
{
  padding: 4% 15% 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
}

.download-button2 {
  margin: 0 1% 7%;
}


/* Footer section */


#footer{
  text-align: center;
  background-color: #fff;
}

.footer-div{
  padding: 7% 0;
}

.footer-icons
{
  margin: 0 1% 1%;
}

/* Media Query for Mobile phones */


@media (max-width: 1028px) {

  .app-img{
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
